body,
html,
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  background-image: url(./store.jpeg);
}

.App {
  width: 70%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 1px black;
  padding: 50px;
}

.movie-form label,
.movie-form input {
  display: block;
}

.quarter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.movie img {
  width: 100px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
